* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Trade Winds', sans-serif;
}

.top {
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 50px;
}

.search input {
    width: 412px;
    padding: 8px;
}

.fa-magnifying-glass {
    margin-left: -28px;
}

.menu {
    display: flex;
    color: white;
    text-decoration: none;
}

.menu p {
    margin: 18px;
}

.menu i {
    margin: 0 10px;
    color: white;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
}

/*CEP*/

.zip-code {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}

.fa-location-dot {
    margin-right: 10px;
}

/*NAVECAO*/

.navigation {
    width: 960px;
    margin: 0 auto;
}

.navigation ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 23px;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation span {
    color: red;
}


/*MENU-INFOS*/

.menu-infos {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.info {
    color: white;
    background-color: red;
    width: 278px;
    height: 172px;
}


.trucker h3 {
    position: relative;
    top: -27px;
    left: 68px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
}

.fa-truck-fast {
    position: relative;
    top: 42px;
    left: 20px;
}

.trucker p {
    position: relative;
    left: 18px;
}

.card h3 {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 32px;
    font-weight: 400;
}

.card i {
    position: relative;
    top: 08px;
    left: 92px;
}

.mobile h3 {
    position: relative;
    top: -59px;
    left: 82px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    width: 182px;
    height: 36px;
}

.mobile i {
    position: relative;
    top: 50px;
    left: 17px;
}

.clock i {
    color: black;
    position: relative;
    font-size: 90px;
    top: 17px;
    left: 96px;
}

.clock h3 {
    position: relative;
    top: -38px;
    left: 85px;
    font-size: 28px;
    font-weight: 400;
}

.clock h4 {
    position: relative;
    top: -12px;
    left: 64px;
    font-weight: 400;
}

.clock p {
    position: relative;
    top: 6px;
    left: 18px;
}


.fa-truck-fast, .fa-credit-card, .fa-mobile-screen {
    font-size: 80px;
}

/*BANNER background: #F9F1F1;*/

.banner {
    margin-top: 40px;
    background-color: pink;
    
    display: flex;
    justify-content: center;
}

.banner-title {
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
}

.banner-image {
    position: relative;
    left: -355px;
    top: 6px;
}

.pink-title {
    font-size: 90px;
    color: #E43795;
    font-family: 'Trade Winds';
    font-weight: 400;
}

.chevron-banner-left {
    background-color: #a7a7a7;
    width: 52px;
    height: 76px;
    position: relative;
    top: 140px;
    left: -318px;
}

.chevron-banner-right {
    background-color: #a7a7a7;
    width: 52px;
    height: 76px;
    position: relative;
    top: 140px;
    left: 317px;
}

.banner i {
    color: white;
    font-size: 50px;
    position: relative;
    top: 18px;
    left: 8px;
}


/*NOVIDADES-PRODUTOS*/

.novidades h3 {
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.produtos {
    display: flex;
    justify-content: space-around;
}

.chevron-products {
    background-color: #a7a7a7;
    width: 28px;
    height: 28px;
    font-size: 20px;
    position: relative;
    top: 54px;
    left: 6px;
}

.chevron-products i {
    color: white;
    position: relative;
    top: 2px;
    left: 8px;
}

.produtos img {
    background-color: #e0e0e0;
    width: 160px;
    height: 135px;
}

.fa-heart {
    color: red;
    position: relative;
    top: -110px;
    left: -30px;
}

.produtos p {
    text-align: center;
    width: 160px;
}

.price {
    margin-top: 10px;
    font-weight: bold;
}

